.head {
  display: flex;
  justify-content: space-between;
}
.ttl {
  justify-self: end;
  width: 10rem;
  display: flex;
  flex-direction: column;
}
.cart {
  display: flex;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  column-gap: 10px;
}
.prod-count {
  display: flex;

  align-self: center;
  justify-content: center;
}
.btn-increment,
.btn-decrement {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 15px;
  background-color: lightblue;
  color: red;
}
.side {
  display: flex;
  flex-direction: column;
}
.functions {
  display: flex;
  column-gap: 5px;
}
.checkout {
  border: 1px solid black;
  background-color: skyblue;
  padding: 0.1em;
}
.checkout:hover {
  transition: 500ms;
  background-color: red;
}
.chkout {
  display: flex;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  column-gap: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .chkout {
    width: 50%;
  }
}
