.Contents {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 2fr;
}

.span-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.images {
  display: grid;
  align-content: center;
  justify-content: center;
}
.chose {
  margin-top: 1em;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.border {
  background-color: #d1bb91;
  border: solid 1px transparent;
  border-radius: 20px;
}
