.Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
  height: 100%;
  row-gap: 5px;
  width: 100%;
}

.products {
  width: 80%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  background-color: lightblue;
}

.items {
  width: 100%;
}
p {
  margin: 0;
}

@media (max-width: 760px) {
  .products {
    flex-direction: column;
    width: 20%;
    align-items: center;
  }
}
