.Body {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  align-items: center;
  height: 100%;
  row-gap: 5px;
  width: 100%;
  justify-content: center;
  align-content: center
}


p {
  margin: 0;
}
@media (min-width:769px){
.foot{
  position: absolute;
  left: 50%;
  bottom: 0%;
}

}

@media (max-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    align-items: center;

  }
  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
   margin-bottom: 20px;
  }
}
