#root {
  width: 100%;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
